<div class="jumbotron">
  <h1 class="display-4">Seja Bem-Vindo!</h1>
  <p class="lead">Esse é o Crypto Wallet, um app para você cadastrar e
  acompanhar tudo sobre as suas criptomoedas.</p>
  <hr class="my-4">
  <p>Para começar, selecione uma das opções abaixo:</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Moedas</a>
  <a class="btn btn-primary btn-lg" href="#" role="button">Tipos de Mineraçao</a>
</div>

<p>
<%= link_to 'Portugues', '/?locale=pt-BR'%>
</p>

<p>
<%= link_to 'English', '/?locale=en'%>
</p>


<p><STRONG>DATA:</STRONG><%=t(Date.today)%></p>
<h1>Seja Bem-Vindo</h1>
<p>O idioma atual: <%= t('actual_locale')%></p>

<%=render "menu"%>


<p>
Voce esta em ambiente de <STRONG><%=ambiente_rails%></STRONG>
</p>


