<<<<<<< HEAD
<div class="jumbotron">
  <h1 class="display-4">Seja Bem-Vindo!</h1>
  <p class="lead">Esse é o Crypto Wallet, um app para você cadastrar e
  acompanhar tudo sobre as suas criptomoedas.</p>
  <hr class="my-4">
  <p>Para começar, selecione uma das opções abaixo:</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Moedas</a>
  <a class="btn btn-primary btn-lg" href="#" role="button">Tipos de Mineraçao</a>
</div>

=======
<<<<<<< HEAD
<h1><%= cookies[:curso]%></h1>
<h2><%= session[:curso]%></h2>
<p><STRONG>DATA: </STRONG><%= I18n.l(Date.today)%></p>
=======
>>>>>>> 2f61168eeb7e59d5532a169d8c0acc919c33848a
<p>
<%= link_to 'Portugues', '/?locale=pt-BR'%>
</p>

<p>
<%= link_to 'English', '/?locale=en'%>
</p>


<p><STRONG>DATA:</STRONG><%=t(Date.today)%></p>
>>>>>>> 7d8022438b240903c440a064a6f49e74059b1d7f
<h1>Seja Bem-Vindo</h1>
<p>O idioma atual: <%= t('actual_locale')%></p>

<%=render "menu"%>


<p>
Voce esta em ambiente de <STRONG><%=ambiente_rails%></STRONG>
</p>


